textarea {
  font-family: "Ubuntu Mono",
    /* taken from Stack Overflow now that they use system fonts */
    ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  resize: none;
  font-size: inherit;
  padding: 0.5em;
  border: 0px;
  margin: 0;
  padding-bottom: 5em;
}

body {
  margin: 0px;
  display: flex;
}

#editor, #console, #webapp-pane, #data-pane {
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
}

#editor textarea {
  background-color: #F5F5F5;
  color: #111;
}

#console textarea {
  background-color: #555;
  color: #EEE;
}

#webapp {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  align-content: center;
}

#webapp h3 {
  font-size: 250%;
  font-weight: normal;
  margin-bottom: 0.5em;
  color: #555;
}

#webapp #search-form {
  display: flex;
  justify-content: center;
}

#webapp #search-form button {
  margin-left: 0.5em;
}

#webapp #search-results {
  text-align: left;
  margin-top: 2em;
  max-width: min(50em, 80%);
  margin-left: auto;
  margin-right: auto;
}

#webapp #search-results ul li {
  list-style-type: none;
}

#webapp-pane .navbar {
  justify-content: flex-start;
}

#webapp-pane .overlay {
  height: 100%;
}

#webapp-pane .overlay.not-started {
  background-color: #DDD;
  font-size: large;
  color: #666;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#webapp-pane .overlay.stderr {
  font-family: "Ubuntu Mono",
    /* taken from Stack Overflow now that they use system fonts */
    ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
  white-space: pre-wrap;
  color: #D00;
  background-color: #FFF0F0;
  padding: 1em;
}

#webapp #search-results ul li a {
  display: block;
  color: inherit;
  padding: 0.5em;
}

#webapp #search-results ul li a:hover {
  text-decoration: none;
}

#webapp #search-results ul li a h4 {
  color: #007bff;
  margin-bottom: 0em;
  font-weight: normal;
}

#webapp #search-results ul li a small {
  color: #555;
}

#webapp #search-results ul li a:hover h4 {
  text-decoration: underline;
}

#webapp #search-results ul li a.no-title h4 {
  font-size: 110%;
}

#data-pane .data {
  background-color: #AED9FF;
  padding: 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#data-pane .data dl {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 0.4em;
}

#data-pane .data dl dt {
  text-align: right;
}

#data-pane .data dl dd {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#data-pane .data code {
  background-color: #D4EDFF;
  color: inherit;
  padding: 0.4em 0.8em 0.2em 0.8em;
  border-radius: 0.4em;
  cursor: pointer;
}

#data-pane .data code:hover {
  background-color: #D8F2FF;
}

#data-pane .data code:active {
  background-color: #D2EBF5;
}

#video video {
  height: 100vh;
  /* without it, the video is inline
   * and it overflows its container to make space for letter descenders!
   * thanks https://stackoverflow.com/a/34752109/3025740
  */
  display: block;
}