<script lang="ts">
    import { page } from "$app/stores";
    import DateTime from "$lib/DateTime.svelte";
    import { customFetch } from "$lib/fetch";
    import type { PageData } from "./$types";

    export let data: PageData;

    async function joinSession(code: string) {
        await customFetch(fetch)("/api/join-session", {
            method: "POST",
            body: { code },
        });

        window.location.assign("/tp/01");
    }

    // fooling the typescript checker into thinking "code" cannot be null
    // because typescript does not understand that "code" will indeed not be null
    // in the "if code" JSX block.
    let code: string;
    $: code = $page.url.searchParams.get("code") as string;
</script>

<main>
    {#if code}
        {#if data.labSession}
            <h1>TP: {data.labSession.title}</h1>

            <p>créé <DateTime dt={data.labSession.created_at}/></p>
            <div class="buttons">
                <button on:click={() => joinSession(code)}
                    >rejoindre</button
                >
            </div>
        {:else}
            <p>lien invalide</p>
        {/if}
    {:else}
        <p>entrez le code pour rejoindre une session TP:</p>
    {/if}
</main>

<style>
    main {
        margin: auto;
        max-width: 40em;
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
    }
</style>
