<script lang="ts">
  import type { ActionData } from "./$types";

  export let form: ActionData;
</script>

<main>
  <h1>Connexion</h1>
  <form method="POST">
    {#if form?.missing}<p class="error">The email field is required</p>{/if}
    {#if form?.incorrect}<p class="error">Invalid credentials!</p>{/if}
    <label>
      email

      <input name="email" type="email" value={form?.email ?? ""} />
    </label>
    <label>
      mot de passe
      <input name="password" type="password" />
    </label>
    <div class="buttons">
      <button>connexion</button>
    </div>
  </form>
</main>

<style>
  main {
    max-width: 30em;
    margin: auto;
    padding: .5em;
  }

  h1 {
    font-size: 180%;
    font-weight: normal;
    color: #444;
  }

  form > * {
    padding: 1.5em 0;
  }

  form label {
    display: flex;
    flex-direction: column;
  }

  form label input {
    font-size: 100%;
    padding: .5em;
    margin: .5em 0;
  }

  div.buttons {
    display: flex;
    flex-direction: row-reverse;
  }
</style>