<script lang="ts">
    import DateTime from "$lib/DateTime.svelte";
    import { askConfirmation } from "$lib/browserUtils";
    import type { PageData } from "./$types";
    import JoinCode from "./JoinCode.svelte";

    export let data: PageData;
</script>

<header>
    <div class="info">
        <small class="resource-type">Session TP</small>
        <h1>{data.title}</h1>
        <p class="created-at">Créée <DateTime dt={data.created_at}/></p>
    </div>
    <div class="buttons">
        <form method="POST"
            action="?/delete"
            on:submit={askConfirmation(`supprimer la session « ${data.title} » ?`)}
        >
            <button class="btn-danger">supprimer</button>
        </form>
    </div>
</header>

<p>{data.comments}</p>

<JoinCode code={data.join_code} joinableUntil={data.joinable_until}/>

{#if data.studentSessions.length > 0}
    <h2>Sessions étudiantes</h2>

    {#each data.studentSessions as s}
        <div class="student-session">
            <a href={`../student-lab-sessions/${s.id}`}><h3>{s.id}</h3></a>

            <div class="info">
                <p>Créée <DateTime dt={s.created_at}/></p>

                {#if s.last_saved_at}
                    <p>Dernière sauvegarde: <DateTime dt={s.last_saved_at}/></p>
                {:else}
                    <p class="no-save">Pas de sauvegarde</p>
                {/if}
            </div>
        </div>
    {/each}
{:else}
    <p>Aucune session étudiantes</p>
{/if}

<style>
    header {
        margin-bottom: 2em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    header h1 {
        margin: 0;
    }

    header small.resource-type {
        color: #888;
        text-transform: uppercase;
    }

    header .created-at {
        font-size: 90%;
        margin-top: 0.6em;
    }

    header .buttons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    header .buttons button {
        height: min-content;
        margin: 1em;
    }

    h2 {
        margin-top: 1.3em;
    }

    div.student-session {
        border: 1px solid #ccc;
        margin-top: 0.6em;
        max-width: 40em;
    }

    .student-session a h3 {
        background-color: #efeff6;
        margin: 0;
        padding: 0.3em;
    }

    .student-session a h3:hover {
        background-color: #e6e6ef;
        text-decoration: none;
    }

    .student-session > div {
        padding: 0.5em;
    }

    .no-save {
        color: #777;
    }
</style>
