<script lang="ts">
    import type { LayoutData } from "./$types";

    export let data: LayoutData;
</script>

<header>
    <div class="container">
        <a href="/account">
            <span>{data.loggedInAs}</span>
        </a>
    </div>
</header>

<main>
    <slot />
</main>

<style>
    header {
        background-color: #4873a1;
        display: flex;
        align-items: stretch;
        color: white;
    }

    header .container, main {
        width: min(100%, 70em);
        margin: auto;
        box-sizing: border-box;
    }

    header .container > * {
        display: flex;
        width: min-content;
        align-items: center;
        padding: 1em;
    }

    header a:hover {
        background-color: #2c4c6f;
    }

    header a {
        color: inherit;
    }

    header a:hover {
        text-decoration: none;
    }

    main {
        padding: 0.6em;
    }
</style>
