body {
    display: grid;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100vh;
    /* thanks https://stackoverflow.com/a/52380579/3025740 */
    grid-template-columns: minmax(12em, 20em) minmax(24em, 1fr);
}

body > nav {
    background-color: #4c566a; 
    padding: 1em;
    color: #eceff4;
}

body > nav ul {
    padding: 0;
    font-size: 85%;
}

body > nav li {
    list-style-type: none;
    margin: 1em 0em;
}

body > nav li a {
    text-decoration: none !important;
    display: block;
    padding: 0.7em 0.5em 0.5em 0.5em;
    background-color: #677389;
    color: white;
    text-transform: uppercase;
    border-radius: 0.5em;
}

body > nav li a:hover {
    color: #152c4a;
    background-color: #9db1d0;
}

body > nav > h1 {
    font-weight: normal;
}

body > main {
    padding: 1em;
}
