html {
  font-family: sans-serif;
}

body {
  padding-bottom: 2em;
  padding-left: .5em;
  padding-right: .5em;
  margin: 0;
  line-height: 1.5em;
  height: 100%;
  position: relative;
}

a {
  color: #06D;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  color: #C22;
  font-size: 110%;
}


.btn {
  background-color: #3D8FE7;
  color: white;
  padding: 0.5em 0.7em;
  border-radius: 0.5em;
}

.btn:hover {
  background-color: #0F7CF0;
  text-decoration: none;
}

.btn.btn-disabled {
  background-color: #EEE;
  color: #888;
}

.btn-container {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.highlights {
  font-size: 110%;
  max-width: 40em;
  color: #333;
  margin: 2em auto;
}

.info {
  font-style: italic;
  color: #444;
}

body > header {
  padding-top: 2em;
  margin-bottom: 1em;
  position: relative;
}

header > img {
  width: 100%;
  max-width: 40em;
  display: block;
  margin: auto;
}

body > header h1 {
  font-weight: normal;
  font-size: 300%;
  color: #333;
  margin-bottom: .4em;
}

body > header p.slogan {
  margin-top: .2em;
  font-size: 110%;
  color: #555;
}

body > main > * {
  margin-left: auto;
  margin-right: auto;
}

body > main > h2 {
  max-width: 100%;
}

body > main > p, body > main > ul {
  max-width: 60ch;
}

body > footer {
  margin-top: 4em;
}

@media (max-width: 800px) {
  .not-on-mobile {
    display: none;
  }
}

/* Non-Mobile */

@media (min-width: 800px) {
  .only-mobile {
    display: none;
  }
  
  body > main, body > footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 90ch;
  }

  header > img {
    display: none;
  }

  body > header h1 {
    font-size: 400%;
    margin: 0 0 0 0;
    color: #444;
  }

  body > header p.slogan {
    margin-top: 1.2em;
    font-size: 130%;
    color: #888;
    max-width: 20em;
  }

  body > header {
    padding: 9em 10vw 17em;
    margin: 0 auto;
    margin-bottom: 1em;
    background: url(header-bg.webp);
    background-size: 50em;
    background-repeat: no-repeat;
    background-position: 95% 100%;
    max-width: 70em;
  }

  body > header > div {
    background-color: rgba(100%, 100%, 100%, .6);
    padding: 2em;
    width: max-content;
  }

  .highlights {
    font-size: 120%;
    max-width: 40em;
    color: #444;
    margin: 2em auto;
  }

  body > main > h2 {
    width: max-content;
    min-width: 37ch;
  }
}

@media (min-width: 1500px) {
  body {
    font-size: 14pt;
  }
}