<script lang="ts">
    import { base } from "$app/paths";
    import { page } from "$app/stores";

    async function validateToken(urlHash: string): Promise<string | null> {
        if (urlHash == '') {
            return null;
        }

        const token = (new URLSearchParams(urlHash.slice(1))).get('token');

        if (!token) {
            return null;
        }

        const response = await fetch(
            base + "/api/check-account-creation-token",
            {
                method: "POST",
                body: token,
            }
        );

        if (response.ok) {
            return token;
        }

        if (response.status == 403) {
            return null;
        }

        throw new Error(`Unexpected response status: ${response.status}`);
    }
</script>

<h1>Création de compte enseignant</h1>

{#await validateToken($page.url.hash) then token}
    {#if token}
        <form method="POST">
            <label>
                email
                <input name="email" type="email" />
            </label>
            <label>
                password
                <input name="password" type="password" />
            </label>
            <input type="hidden" name="token" value={token} />
            <button>valider</button>
        </form>
    {:else}
        <p>Le lien de création de compte semble invalide.</p>
    {/if}
{/await}