<script lang="ts">
    import { DateTime } from "luxon";
    import { dateTimeToString } from "./dateTime";

    export let dt: DateTime | string;

    let text: string;
    let title: string;

    $: {
        // TODO recompute at a regular interval?
        const casted = typeof dt == 'string' ? DateTime.fromISO(dt) : dt;
        text = dateTimeToString(casted);
        title = casted.toISO() as string;
    }

</script>

<span title={title}>{text}</span>